<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ES</key>
	<string>Spain</string>
	<key>NL</key>
	<string>Netherlands</string>
	<key>DE</key>
	<string>Germany</string>
	<key>FR</key>
	<string>France</string>
	<key>GB</key>
	<string>United Kingdom</string>
	<key>EN</key>
	<string>England</string>
</dict>
</plist>
